.black-bg {
    background-color: black;
}

.round-border {
    border-radius: 10px;
}

.glow {
    box-shadow: 0 0 20px #595959;
}

.margin {
    margin: 1.2rem;
}

.title {
    font-weight: 700;
    color: #bfbfbf;
}

.fill {
    height: 100%;
    width: 100%;
}

.relative {
    position: relative;
}

.refresh-button {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-weight: 700;
    font-size: 16px;
    padding: 7px 14px;
    color: #bfbfbf;
    background-color: #242424;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
}

.refresh-button:hover {
    background-color: black;
}

.refresh-button:active {
    padding: 6px 12px;
    bottom: 21.5px;
    left: 21.5px;
}

.loading-message {
    position: absolute;
    bottom: 5px;
    right: 20px;
    font-weight: 700;
    font-size: 24px;
    color: #bfbfbf;
}