.black-bg {
    background-color: black;
}

.round-border {
    border-radius: 10px;
}

.glow {
    box-shadow: 0 0 20px #595959;
}

.margin {
    margin: 1.2rem;
}

.title {
    font-weight: 700;
    color: #bfbfbf;
}